TURSO_URL=libsql://superchampion-mnieto.aws-us-east-2.turso.io
TURSO_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTE1MTA0MjcsImlkIjoiMDFhMTFlNTctNTIwMS03NjAxLWE2YjMtNzBiOTI0ZDJkZGJmIiwia2lkIjoiTDl6UGpCZkwtX2JXbzVlZWl3RElTcUZ2TFIwNms2c2Z2RGRDRTV3Q20wUSIsInJpZCI6ImY3ZjViZjgzLWY2NDAtNGMxZS05ZWQ0LTYwY2Y3OWYxZjRjZSJ9.91kC8H-0hMFQYNutjVtypmnnwLTNayPmlMCxpNBIPTTyk64mbqK-bWvdgtBoBbX7cG6NoPpHF3_7EcWqfS2qDw
ORGANIZADOR_PIN=1234
